.App {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #cddc39;
}

.navbar-brand {
  color: black;
  font-family: fantasy;
  font-size: 1.5em;
}

.navbar-brand span {
  color: #ff5722;
}

.products-listing img {
  width: auto;
  height: 140px;
}

footer {
  background-color: #cddc39;
  font-size: 14px;
  padding: 10px;
  font-family: fantasy;
  width: 100%;
  margin-top: 1em;
}

footer span {
  color: #ff5722;
}

.spinner-style {
  position: relative;
  width: 70px;
  height: 70px;
  display: block;
  margin: auto;
}

.redux-block {
  display: flex;
  justify-content: left;
  align-items: center;
}

.redux-block h3 {
  margin: 0px 10px;
}