.App {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #cddc39;
}

.navbar-brand {
  color: black;
  font-family: fantasy;
  font-size: 1.5em;
}

.navbar-brand span {
  color: #ff5722;
}

.products-listing img {
  width: auto;
  height: 140px;
}

footer {
  background-color: #cddc39;
  font-size: 1.5em;
  padding: 1em;
  font-family: fantasy;
}

footer span {
  color: #ff5722;
}
.spinner-style {
  position: relative;
  width: 70px;
  height: 70px;
  display: block;
  margin: auto;
}